// Cards de Index

.Parrafo_Cards{
    font-size: 16px;
    text-align: justify;
}

.Titulo_Cards{
    font-size: 25px;
    font-weight: bold;
}

.Parrafo__DiccAndReglas{
    font-size: 18px;
}

.Titulo__DiccAndReglas{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}