// Colores H4 (Carving, Freestyle, Downhill)

.Skater__H4{
    background-color: #FF7477;
    margin: 0px 30px 20px 30px;
}

.Videos__H4{
    background-color: #9CF6F6;
    margin: 0px 30px 20px 30px;
}

.Patinetas__H4{
    background-color: #FFEE93;
    margin: 0px 30px 20px 30px;
}

.Estilo__H4{
    background-color: #FF7477;
    margin: 0px 30px 20px 30px;
}
