// Colores H4 (Carving, Freestyle, Downhill)

.Skater__H4{
    background-color: #FF7477;
}

.Videos__H4{
    background-color: #9CF6F6;
}

.Patinetas__H4{
    background-color: #FFEE93;
}

.Estilo__H4{
    background-color: #FF7477;
}