// Resource y Quick Links

footer{
    font-size: 12px;
    margin: 100px 0px 0px 0px;
}


.Footer__Weight{
   font-weight: bold;
   font-size: 15px;
}

.BloquePaFooter{
    display: block;
}

.Size__Iconos{
    font-size: 30px;
    padding-top: 10px;
}
