//Media Queris Videos Carving

.VideosCarving__MediaQueris{
    display: grid;
    grid-template-areas: "Video__Carving1 Video__Carving2" "Video__Carving3 Video__Carving4" "Video__Carving5 Video__Carving6";
    justify-items: center;
    align-content: space-around;
    grid-row-gap: 10px;   
}

.Video__Carving1{
    grid-area: Video__Carving1;
}

.Video__Carving2{
    grid-area: Video__Carving2;
}

.Video__Carving3{
    grid-area: Video__Carving3;
}

.Video__Carving4{
    grid-area: Video__Carving4;
}

.Video__Carving5{
    grid-area: Video__Carving5;
}

.Video__Carving6{
    grid-area: Video__Carving6;
}

@media screen and (max-width:1200px) {
    .VideosCarving__MediaQueris{
         display: grid;
         grid-template-areas: 
         "Video__Carving1" 
         "Video__Carving2" 
         "Video__Carving3" 
         "Video__Carving4" 
         "Video__Carving5" 
         "Video__Carving6";
         grid-template-columns: 1fr;
         grid-template-rows: repeat(6, 1fr);
    }
}


// Media Queris Patinetas

@media screen and (max-width:1024px) {
    .GradientFree{
        display: grid;
        grid-template-areas: 
        "DivFreeP" 
        "AsideFree";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
   }
}

// Media Queris de Sesión Diccionario trucos

.GridTrucos__MediaQ{
    display: grid;
    grid-template-areas:    "Grid__Trick1 Grid__Trick2" 
                            "Grid__Trick3 Grid__Trick4" 
                            "Grid__Trick5 Grid__Trick6"
                            "Grid__Trick7 Grid__Trick8"
                            "Grid__Trick9 Grid__Trick10"
                            "Grid__Trick11 Grid__Trick12"
                            "Grid__Trick13 Grid__Trick14"
                            "Grid__Trick15 Grid__Trick16";
                            justify-items: center;
                            margin-top: 40px;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(8, 1fr)
                   
}

.Grid__Trick1{
    grid-area: Grid__Trick1;
}

.Grid__Trick2{
    grid-area: Grid__Trick2;
}

.Grid__Trick3{
    grid-area: Grid__Trick3;
}

.Grid__Trick4{
    grid-area: Grid__Trick4;
}

.Grid__Trick5{
    grid-area: Grid__Trick5;
}

.Grid__Trick6{
    grid-area: Grid__Trick6;
}

.Grid__Trick7{
    grid-area: Grid__Trick7;
}

.Grid__Trick8{
    grid-area: Grid__Trick8;
}

.Grid__Trick9{
    grid-area: Grid__Trick9;
}

.Grid__Trick10{
    grid-area: Grid__Trick10;
}

.Grid__Trick11{
    grid-area: Grid__Trick11;
}

.Grid__Trick13{
    grid-area: Grid__Trick13;
}

.Grid__Trick14{
    grid-area: Grid__Trick14;
}

.Grid__Trick15{
    grid-area: Grid__Trick15;
}

.Grid__Trick16{
    grid-area: Grid__Trick16;
}

@media screen and (max-width:1024px) {
    .GridTrucos__MediaQ{
        display: grid;
        grid-template-areas: 
        "Grid__Trick2"
        "Grid__Trick1"
        "Grid__Trick3"
        "Grid__Trick4"
        "Grid__Trick6"
        "Grid__Trick5"
        "Grid__Trick7"
        "Grid__Trick8"
        "Grid__Trick10"
        "Grid__Trick9"
        "Grid__Trick11"
        "Grid__Trick12"
        "Grid__Trick14"
        "Grid__Trick13"
        "Grid__Trick15"
        "Grid__Trick16";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, 1fr);
   }
}












