// Import de distintos Scss

@import "MediaQueris";
@import "Colores";
@import "Background";
@import "Footer";
@import "CardsBoot";

// Estilo para los parrafos
p{
    color:black; 
    font-family: TituloSecundario;
    text-align:justify; 
    padding: 0px 70px 10px 70px;
    font-size: 20px; 
    font-weight: bold;
}

// Estilo para los parrafos que se encuentren dentro de un div
div p{
    color: black; 
    font-family: TituloSecundario;
    font-size: 40px;
    text-align: left;
} 

// Estilo para todos los H1 
h1{color: black; 
    font-family: 
    'Amatic SC', cursive; 
    font-size: 70px;
}

// Clase para los navegadores de la sesiones
.centrado{ 
    text-align: center; 
    line-height: 1.6; 
    font-family:TituloSecundario; 
    font-size: 30px; 
    word-spacing: 30px;
    background-color: whitesmoke;
}

// Definición del tamaño del html del proyecto
html{ 
    font-size: 62.5%;
}

// Definición para los margenes y padding del proyecto
*{ 
    margin: 0; 
    padding: 0;
}
 
// Definición para el comando "a"
a{ 
    text-decoration: none; 
    color: black;
}

// Agregado de color al hover
a:hover{
    color: blue;
}
 // Clase para que el navegador se mantenga con el usuario
.PositionStycky{
    position: sticky; 
    top: 0px;
}

// Clase para los Titulos de cada sesión
.TituloSegundo{
    padding: 15px; 
    font-family: TituloSecundario;
    font-size: 60px; 
    word-spacing: 30px;
    font-weight: bold;
}

// Arreglos para optimizar el navegador de cada sesión
ul li{
    display: inline-block; 
    position: relative;
}

ul{ 
    list-style: none; 
}

ul ul{
    position: absolute; 
    display: none;
}

ul li:hover ul{
   display: block; 
   font-size: 20px;
   background-color: white;
}

ul ul li{
    display: block;
}

// Clase para el navegador del Index
.MenuIndex{
    text-align: center; 
    line-height: 1.6; 
    font-family: 'Poiret One', cursive;
    font-size: 30px; 
    word-spacing: 30px; 
    position: sticky; 
    top: 0px;
    background-color: white;
}

// Agregado de letras descargadas con nombre TituloSecundario
@font-face {
    font-family: TituloSecundario;
    src: url("../FuentesLetras/PoiretOne-Regular.ttf");
}

// Clase para generar los el display:inline
.inline{
    display: inline;
}

// Clase usada en Sesión Torneo
.imgTorneo{
    padding: 15px 5px 15px 15px;
}

// Clase para el formulario
.FormularioTorneo{
    border: solid 1px black;
    margin-top: 15px;
    padding: 10px 0px 130px 25px;
    font-size: 15px;
    line-height: 1.6;
    background-image: url("../Imagenes/skater\ 1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:400px; 
}

// Estilo para los H3
h3{
    font-family: TituloSecundario;
    font-size: 40px;
    font-weight: bold;
}

// Clase para los subtitulos del Formulario
.SubTituloForm{
    font-size: 20px;
}

// Clase para el formulario del torneo
.FormularioTorneo2{
    padding: 0px 0px 40px 15px;
    font-size: 15px;
    line-height: 1.6;
    background-image: url("../Imagenes/skatersFull.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: 220px;
    background-position-y: 40px;  
}

// Clase para la tabla del formulario
table{
    border-color: black;
    font-size: 12px;
}

// Div para la del formulario "Profesionales que asistirán"
.DivTabla{
    width: 70px;
}

// Clase utilizada en sesión Freestyle
.imgFreestyle1{    
    display: flex ;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

// Estilo para el H4
h4{
    margin: 20px 0px 20px 0px;
    font-family: TituloSecundario;
    font-size: 20px;
    font-weight: bold;
}

// Estilo para el H7
h7{
    font-family: TituloSecundario;
    font-size: 20px;
    font-weight: bold;
}

// Clase para "Sigue leyendo" de cada sesión
.SigueLeyendo1{
   font-family: TituloSecundario;
   margin: 20px 30px 10px 0px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   font-size: 20px;
}

// Clase para alinear reseña en sesión de Skater (Freestyle, Downhill, Carving)
.SkaterF2{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

// Clase para el estilo en la sesión de Skater (Freestyle, Downhill, Carving)
.divSkate2{
    height: 20px;
    width: 300px;
    font-size: 12px; 
    line-height: 20px;
    color: #737477;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 4px;
    font-family: Fuente1;
}

// Clase para el estilo en la sesión de Skater (Freestyle, Downhill, Carving)
.divSkate3{
    height: 20px;
    width: 300px;
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-family: TituloSecundario;
    font-weight: 700;
}

// Agregado de letras descargadas con nombre Fuente1
@font-face {
    font-family: Fuente1;
    src: url("../FuentesLetras/Anton-Regular.ttf");
}

// Estilo para H5
h5{
    font-family: TituloSecundario;
    margin: 0px 0px 20px 0px;
    font-size: 40px;
    text-align: center;
    background-color: #59CD90
}

// Clase usada para estilo de sesión Freestyle Videos
.Grid1{
    display: grid;
    grid-template-areas:    "GridContainer1 GridContainer2" 
                            "GridContainer3 GridContainer4" 
                            "GridContainer5 GridContainer6";
    justify-items: center;
    align-content: space-around;
    grid-row-gap: 10px;   
}

.GridContainer1{
    grid-area: GridContainer1;
}

.GridContainer2{
    grid-area: GridContainer2;
}

.GridContainer3{
    grid-area: GridContainer3;
}

.GridContainer4{
    grid-area: GridContainer4;
}

.GridContainer5{
    grid-area: GridContainer5;
}

.GridContainer6{
    grid-area: GridContainer6;
}

// Clase usada para algunos parrafos
.EscritoP{
    text-align: center;
    margin-top: 20px;   
}

@media screen and (max-width:1200px) {
    .Grid1{
         display: grid;
         grid-template-areas: 
         "GridContainer1" 
         "GridContainer2" 
         "GridContainer3" 
         "GridContainer4" 
         "GridContainer5" 
         "GridContainer6";
         grid-template-columns: 1fr;
         grid-template-rows: repeat(6, 1fr);
    }
}

// Clase usada en sesión de patinetas
.GradientFree{
    background-image: linear-gradient(to bottom, #FFEE93, #9CF6F6);
    text-align: center;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1Fr 2Fr;
    grid-template-areas: "AsideFree DivFreeP";
    align-items: start;
}

// Clase usada en sesión de patinetas
.DivFreeP{
    grid-area: DivFreeP;
}

// Clase usada en sesión de patinetas
.AsideFree{
    grid-area: AsideFree;
}

// Clase usada en sesión de patinetas
.DivFreeP2{
    font-size: 20px;  
}

// Clase usada en sesión de patinetas
.ImgFreeB{
    height: 250px;
    margin-top: 10px;
    background-image: url(../Imagenes/SkateTablas1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

// Clase usada en sesión de patinetas
.Transform1{
    transform: skewx(15deg);
    transition: 2s;
    padding: 10px 0px 10px 0px;
}

// Clase usada en sesión de patinetas
.Transform2{
    padding: 10px 0px 10px 0px;
    transform: rotate(20deg);
    transition: 2s;
}

// Clase usada en sesión de patinetas
.Transform3{
    padding: 10px 0px 10px 0px; 
}

// Div usada en el index en el área de serie de la semana
.DivBoo{
    padding-top: 20px;
    width: 1200px;
}

// Clase usada en la sesiones de los formularios
.DivForm{
    width: 342px;
    height: 28px;
    padding: 0px 0px 60px 0px;   
}

// Clase usada en la sesiones de los formularios
.DivForm2{
    width: 342px;
    height: 28px;
}

// Clase usada en sesión Patinetas carving
.Carving__Imagen1{   
    padding: 10px 10px 10px 10px;
}

// Clase para el parrafo del index
.Parrafo__Index{
    text-align: center;
    font-size: 20px;
    margin: 50px 50px 0px 50px;
}

//Media Queris Freestyle/Carving/Downhill - Skater

.FreeMedia1{
    display: grid;
    grid-template-areas: "Leti1 Leti2";
    justify-items: center;
    align-content: center;
}

.Leti1{
    grid-area: Leti1;
}

.Leti2{
    grid-area: Leti2;
}

@media screen and (max-width:1200px) {
    .FreeMedia1{
        display: grid;
        grid-template-areas: "Leti2" "Leti1";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;

    }
}


//Media Queris Freestyle/Carving/Downhill - Videos

.FreeMedia2{
    display: grid;
    grid-template-areas: "VideoFree1 VideoFree2";
    justify-items: center;
    align-content: center;
}

.VideoFree1{
    grid-area: VideoFree1;
}

.VideoFree2{
    grid-area: VideoFree2;
}

@media screen and (max-width:1200px) {
    .FreeMedia2{
        display: grid;
        grid-template-areas: "VideoFree1" "VideoFree2";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;  
     
    }
}

//Media Queris Freestyle/Carving/Downhill - Patinetas

.FreeMedia3{
    display: grid;
    grid-template-areas: "FreePatineta1 FreePatineta2";
    justify-items: center;
    align-content: center;

}

.FreePatineta1{
    grid-area: FreePatineta1;
}

.FreePatineta2{
    grid-area: FreePatineta2;
}

@media screen and (max-width:1200px) {
    .FreeMedia3{
        display: grid;
        grid-template-areas: "FreePatineta2" "FreePatineta1";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;
        background-size: contain;  
    }

}

//Media Queris Videos Carving

.VideosCarving__MediaQueris{
    display: grid;
    grid-template-areas: "Video__Carving1 Video__Carving2" "Video__Carving3 Video__Carving4" "Video__Carving5 Video__Carving6";
    justify-items: center;
    align-content: space-around;
    grid-row-gap: 10px;   
}

.Video__Carving1{
    grid-area: Video__Carving1;
}

.Video__Carving2{
    grid-area: Video__Carving2;
}

.Video__Carving3{
    grid-area: Video__Carving3;
}

.Video__Carving4{
    grid-area: Video__Carving4;
}

.Video__Carving5{
    grid-area: Video__Carving5;
}

.Video__Carving6{
    grid-area: Video__Carving6;
}

@media screen and (max-width:1200px) {
    .VideosCarving__MediaQueris{
         display: grid;
         grid-template-areas: 
         "Video__Carving1" 
         "Video__Carving2" 
         "Video__Carving3" 
         "Video__Carving4" 
         "Video__Carving5" 
         "Video__Carving6";
         grid-template-columns: 1fr;
         grid-template-rows: repeat(6, 1fr);
    }
}


// Media Queris Patinetas

@media screen and (max-width:1024px) {
    .GradientFree{
        display: grid;
        grid-template-areas: 
        "DivFreeP" 
        "AsideFree";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
   }
}


// Media Queris de Sesión Diccionario trucos

.GridTrucos__MediaQ{
    display: grid;
    grid-template-areas:    "Grid__Trick1 Grid__Trick2" 
                            "Grid__Trick3 Grid__Trick4" 
                            "Grid__Trick5 Grid__Trick6"
                            "Grid__Trick7 Grid__Trick8"
                            "Grid__Trick9 Grid__Trick10"
                            "Grid__Trick11 Grid__Trick12"
                            "Grid__Trick13 Grid__Trick14"
                            "Grid__Trick15 Grid__Trick16";
                            justify-items: center;
                            margin-top: 40px;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(8, 1fr)
                   
}

.Grid__Trick1{
    grid-area: Grid__Trick1;
}

.Grid__Trick2{
    grid-area: Grid__Trick2;
}

.Grid__Trick3{
    grid-area: Grid__Trick3;
}

.Grid__Trick4{
    grid-area: Grid__Trick4;
}

.Grid__Trick5{
    grid-area: Grid__Trick5;
}

.Grid__Trick6{
    grid-area: Grid__Trick6;
}

.Grid__Trick7{
    grid-area: Grid__Trick7;
}

.Grid__Trick8{
    grid-area: Grid__Trick8;
}

.Grid__Trick9{
    grid-area: Grid__Trick9;
}

.Grid__Trick10{
    grid-area: Grid__Trick10;
}

.Grid__Trick11{
    grid-area: Grid__Trick11;
}

.Grid__Trick13{
    grid-area: Grid__Trick13;
}

.Grid__Trick14{
    grid-area: Grid__Trick14;
}

.Grid__Trick15{
    grid-area: Grid__Trick15;
}

.Grid__Trick16{
    grid-area: Grid__Trick16;
}

@media screen and (max-width:1024px) {
    .GridTrucos__MediaQ{
        display: grid;
        grid-template-areas: 
        "Grid__Trick2"
        "Grid__Trick1"
        "Grid__Trick3"
        "Grid__Trick4"
        "Grid__Trick6"
        "Grid__Trick5"
        "Grid__Trick7"
        "Grid__Trick8"
        "Grid__Trick10"
        "Grid__Trick9"
        "Grid__Trick11"
        "Grid__Trick12"
        "Grid__Trick14"
        "Grid__Trick13"
        "Grid__Trick15"
        "Grid__Trick16";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, 1fr);
   }
}